elastic/
elastic/bin/
elastic/config/
elastic/jdk/
elastic/lib/
elastic/logs/
elastic/modules/
elastic/plugins/
kibana/
kibana/bin/
kibana/config/
kibana/data/
kibana/node/
kibana/node_modules/
kibana/plugins/
kibana/src/
kibana/x-pack/
filebeat/kibana/
filebeat/module/
filebeat/filebeat
logstash/*/
metrics/*/
metrics/metricbeat
